<?xml version='1.0' encoding='utf-8'?>
<container version="7.0.50">
  <farm name="tomcat7" >
    <jvm opts="-noverify -Xmx1.5G -Xms1.5G -XX:MaxPermSize=256m"/>

    <http URIEncoding="UTF-8" enableLookups="false" disableUploadTimeout="true"
          maxThreads="200"  minSpareThreads="10" 
          acceptCount="100" connectionTimeout="20000"  />


    <server name="server" shutdownPort="8005"  httpPort="8080"  httpsPort="8443"  ajpPort="9009"/>
  </farm>

  <webapp base="webapps">
    <context path="/"  reloadable="false" runAt="tomcat7">
      <datasource name="jdbc/urp" url="jdbc:oracle:thin:@//localhost:1521/urp" driver="oracle" username="urp"   />
    </context>
  </webapp>
</container>